.topicos {
    background: var(--cor-da-letra-azul-degrad);
    text-align: center;
    padding: 1em 0;
}

.topicos__titulo {
    color: var(--cor-do-header);
    font-weight: 300;
    margin-bottom: 1em;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.topicos__item {
    margin: 1.6em .5em;
}
.topicos__link {
    background-color: var(--cor-da-letra-laranja);
    padding: 1em;
    color: var(--cor-do-header);
    text-decoration: none;
    font-weight: 700;
}

@media screen and (min-width:1024px){
    .topicos__titulo {
        font-size: 24px;
    }

    .topicos__link {
        font-size: 18px;
    }
}